@using StockTracker.Models
@using static StockTracker.Models.HomeModel

@model HomeModel

@{
  ViewData["Title"] = "Home Page";
}

<partial name="Form/_Form" model="Model" />

<div id="@CARDS_ID" class="row m-0">

  @foreach (var card in Model.Cards)
  {
    var cardViewName = "_AddCreationCard";
    if (card.Type == StockTrackerConfigurator.Types.CardType.DETAIL)
      cardViewName = "_DetailCreationCard";
    else if (card.Type == StockTrackerConfigurator.Types.CardType.FORM)
      cardViewName = "_FormCreationCard";

    <partial name="@cardViewName" model="card" />
  }

</div>

@section Scripts {
  <partial name="_Declarings" />
  <script src="~/js/home.js"></script>
}