@using StockTracker.DTOs
@using StockTracker.Models
@using static StockTracker.Models.CloudStorageModel;

@model CloudStorageModel

@{
  ViewData["Title"] = "Cloud Storage";
}

<partial name="Form/_Form" model="Model" />

<div id="@EXPORT_MODAL_ID" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Data conflict between cloud and local storage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <p>Do you want to import the cloud data or export the local data to the cloud?</p>
      </div>

      <div class="modal-footer">

        <button id="@BTN_IMPORT_ID" type="button" class="btn btn-primary"
          >Import cloud
        </button>

        <button id="@BTN_EXPORT_ID" type="button" class="btn btn-primary"
          >Export local
        </button>

      </div>

    </div>
  </div>
</div>

@section Scripts {
  <partial name="_Declarings" />
  <script src="~/js/cloud-storage.js"></script>
}