@model CreationCardViewModel;

<div class="col-2 stock-card">

  <div class="stock-card-border border rounded @(Model.AddCardButtonMode ? "add-card" : string.Empty)">

    <form class="needs-validation p-3"
          novalidate>

      <div class="form-group">
        <select class="form-control" id="stock">
        </select>
      </div>

      <hr />

      <div class="form-group mb-3">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price">
      </div>

      <div class="input-group mb-3">

        <label class="col-12" for="percentage">Triggers in (%)</label>

        <div class="input-group-prepend w-50">
          <input type="number" class="form-control" id="percentage">
        </div>

        <input type="text" class="form-control" disabled>
      </div>

      <div class="input-group">
        <button type="button" class="btn btn-danger w-50">Buying</button>
        <button type="button" class="btn btn-success w-50">Selling</button>
      </div>

    </form>

    @if (Model.AddCardButtonMode)
    {
      <div class="card-plus-sign">
        <i class="fa-solid fa-plus"></i>
      </div>
    }

	</div>

</div>