@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<form id="brapiKeyForm" class="needs-validation" novalidate>
	<div>
		<label for="brapiKeyInput" class="form-label">Brapi Key</label>
		<input name="brapiKey" value="@Model.BrapiKey" type="password" class="form-control" id="brapiKeyInput" required />
		<div class="invalid-feedback"></div>
	</div>
</form>