@using StockTracker.DTOs
@using StockTracker.Models
@using static StockTracker.Models.TelegramNotifierModel;

@model TelegramNotifierModel

@{
  ViewData["Title"] = "Telegram Notifier";
}

<partial name="Form/_Form" model="Model" />

<div id="@HELP_TEXT_ID" class="mt-2 d-none">
  <small class="form-text text-muted blink">
    Please send a message from your telegram to the bot now
  </small>
</div>

@section Scripts {
  <partial name="_Declarings" />
  <script src="~/js/telegram-notifier.js"></script>
}