@using StockTracker.DTOs
@using StockTracker.Models
@using static StockTracker.Models.TelegramNotifierModel;

@model TelegramNotifierModel

@{
  ViewData["Title"] = "Telegram Notifier";
}

<partial name="Form/_Form" model="Model" />

<div class="mt-2">
  <small id="@HELP_TEXT_ID"
         class="form-text text-muted blink d-none">
    Please send a message from your telegram to the bot now
  </small>
</div>

@section Scripts {
  <partial name="_Declarings" />
  <script src="~/js/telegram-notifier.js"></script>
}