@using StockTracker.Models.Shared.Form.Inputs
@model PasswordInputModel

<div class="form-group col-md-3 mb-3">

  <partial name="Form/Inputs/_InputLabel" model="Model.Label" />

  <input name="@Model.Name"
         type="password"
         class="form-control"
         value="@(Model.HasContent ? "some password =P" : string.Empty)"
         required="@Model.IsRequired.ToString().ToLower()" 
         @string.Join(" ", Model.Attrs)/>

  <div class="invalid-feedback"></div>
</div>