<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Brapikey" value="InsertYourKeyHere" />
    <add key="Cooldown" value="00:15:00" />
    <add key="StartTime" value="09:30:00" />
    <add key="EndTime" value="17:00:00" />
    <add key="NearPriceRangePctg" value="0.25" />
  </appSettings>
</configuration>