@using StockTracker.Models.Shared.Form
@model FormButtonModel

@if (Model != null)
{
  <button 
    id="@Model.Id"
    type="submit"
    class="btn btn-primary"
    @(Model.Disabled ? "disabled" : string.Empty)>
    <span>@Model.Label</span>
    <i class="loading-action fa-solid fa-circle-notch fa-spin"></i>
  </button>
}