@using StockTracker.Models.Shared.Form

@model FormModel

@if(Model != null) {
  <form id="@Model.Id" class="needs-validation" novalidate>

    @foreach (var input in Model.Inputs)
    {
      <partial name="Form/Inputs/_FormInput" model="input" />
    }

    <partial name="Form/_FormButton" model="Model.FormButtonModel" />

  </form>
}