html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.stock-card {
  padding: 0;
  margin-right: 1rem;
}

.stock-card-border {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-card {
  cursor: pointer;
  
}

.add-card:hover {
  background-color: darkgray;
  transition: 0.6s;
}

.add-card:hover .card-plus-sign {
  font-size: 64px;
  transition: 0.6s;
}

.add-card form {
  visibility: hidden;
}

.card-plus-sign {
  position: absolute;
  font-size: 48px;
}